body,
html {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
    font-family: "Montserrat", sans-serif;
    color: white;
    background-image: url(/img/bg1.jpeg);
    background-position: top;
    background-position: center;
    background-position: 20% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: #d7efffe8;
    background-color: #adadad91;
}

.home-logo-text {
    font-size: 40px;
    font-weight: 700;
    font-family: "Lobster", cursive;
    font-family: "Macondo", cursive;
    text-shadow: #211e1e 1px;
}

.section1 {
    width: 100%;
    padding: 0%;
    margin: auto;
    /* max-width: 1800px; */
}

.header-left {
    z-index: 3;
}

.header-left-icon {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 1%;
    z-index: 3;
    background-color: rgba(68, 68, 68, 0.333);
    border: 0px solid white;
    border-radius: 20px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
}

.header-right:hover {
    background-color: rgba(193, 193, 193, 0.486);
    box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

@media screen and (max-width: 650px) {
    .header-right {
        border-radius: 0px;
        padding: 5px;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
    }
    .header-right:hover {
        border-radius: 0px;
        padding: 5px;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
    }
}

.header-ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 10px;
}

.header-ham {
    display: none;
}

@media screen and (max-width: 650px) {
    .header-ul {
        display: flex;
        list-style: none;
        display: none;
    }
    .header-ham {
        display: inline;
        background-color: #07070700;
        border: none;
        z-index: 3;
    }
}

ul.header-ul>li>a {
    color: rgba(58, 56, 56, 0.785);
    color: white;
    text-decoration: none;
    margin: 0.5rem;
}

ul.header-ul>li>a:hover {
    color: rgb(255, 97, 6);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.header-div {
    display: flex;
    justify-content: space-between;
    padding: 0% 2%;
    align-items: center;
}

#M-nav-ham {
    position: absolute;
    text-align: center;
    top: 12%;
    right: 5%;
    background-color: rgba(97, 96, 96, 0.576);
    border: 0px solid white;
    border-radius: 40px;
    border-top-right-radius: 0px;
    display: none;
    margin: auto;
    width: 30%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 3;
    list-style: none !important;
    box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
}

.ham-ul {
    display: block;
    padding-left: 0%;
    padding-right: 0%;
    list-style: none;
}

ul.ham-ul>li>a {
    color: rgba(27, 21, 21, 0.889);
    color: white;
    text-decoration: none;
    line-height: 2.5rem;
    font-size: large;
}

@media screen and (min-width: 500px) and (max-width: 649px) {
    .section2 {
        background-position: 5rem 0rem;
    }
}

@media screen and (min-width: 650px) {
    .section2 {
        background-position: 12rem 0rem;
    }
}

.m-button {
    border: 0px solid;
    background: rgba(255, 97, 6, 0.909);
    height: 2.5rem;
    width: 6rem;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

.m-button:hover {
    border: 1px solid rgb(255, 255, 255);
    background: rgb(239, 92, 0);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}