body,
html {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
    font-family: "Montserrat", sans-serif;
    color: white;
    /* font-family: 'Macondo', cursive; 
    f ont-family: 'Lobster', cursive;
    font-family: 'Macondo', cursive;
    font-family: 'Ubuntu', sans-serif; */
    background-image: url(/img/bg1.jpeg);
    background-position: top;
    background-position: center;
    background-position: 20% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* min-height: 700px; */
    background-color: #d7efffe8;
    background-color: #adadad91;
    margin-bottom: -15%;
}

.home-logo-text {
    font-size: 40px;
    font-weight: 700;
    font-family: "Lobster", cursive;
    font-family: "Macondo", cursive;
    text-shadow: #211e1e 1px;
}

.section1 {
    width: 100%;
    padding: 0%;
    margin: auto;
    /* max-width: 1800px; */
}

.header-left {
    z-index: 3;
}

.header-left-icon {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 1%;
    z-index: 3;
    background-color: rgba(68, 68, 68, 0.333);
    border: 0px solid white;
    border-radius: 20px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
}

.header-right:hover {
    background-color: rgba(193, 193, 193, 0.486);
    box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

@media screen and (max-width: 650px) {
    .header-right {
        border-radius: 0px;
        padding: 5px;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
    }
    .header-right:hover {
        border-radius: 0px;
        padding: 5px;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
    }
}

.header-ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 10px;
}

.header-ham {
    display: none;
}

@media screen and (max-width: 650px) {
    .header-ul {
        display: flex;
        list-style: none;
        display: none;
    }
    .header-ham {
        display: inline;
        background-color: #07070700;
        border: none;
        z-index: 3;
    }
}

ul.header-ul>li>a {
    color: rgba(58, 56, 56, 0.785);
    color: white;
    text-decoration: none;
    margin: 0.5rem;
}

ul.header-ul>li>a:hover {
    color: rgb(255, 97, 6);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.header-div {
    display: flex;
    justify-content: space-between;
    padding: 0% 2%;
    align-items: center;
}

#M-nav-ham {
    position: absolute;
    text-align: center;
    top: 12%;
    right: 5%;
    background-color: rgba(97, 96, 96, 0.576);
    border: 0px solid white;
    border-radius: 40px;
    border-top-right-radius: 0px;
    display: none;
    margin: auto;
    width: 30%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 3;
    list-style: none !important;
    box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
}


/* 
    .header-right #header-ham .header-ham {
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
    } */

.ham-ul {
    display: block;
    padding-left: 0%;
    padding-right: 0%;
    list-style: none;
}

ul.ham-ul>li>a {
    color: rgba(27, 21, 21, 0.889);
    color: white;
    text-decoration: none;
    line-height: 2.5rem;
    font-size: large;
}

.section2 {
    background-image: url(/img/bg-pic1\\(1\).png);
    background-position: center;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    position: relative;
}

@media screen and (min-width: 500px) and (max-width: 649px) {
    .section2 {
        background-position: 5rem 0rem;
    }
}

@media screen and (min-width: 650px) {
    .section2 {
        background-position: 12rem 0rem;
    }
}

.section3 {
    height: 700px;
    width: 100%;
    position: absolute;
    background: rgba(107, 107, 107, 0);
    background: linear-gradient( 266deg, rgba(107, 107, 107, 0) 0%, rgba(160, 160, 160, 0.22) 80%);
    background: -webkit-linear-gradient( 266deg, rgba(107, 107, 107, 0) 0%, rgba(160, 160, 160, 0.22) 80%);
    background: -moz-linear-gradient( 266deg, rgba(107, 107, 107, 0) 0%, rgba(160, 160, 160, 0.22) 80%);
    top: 0%;
}

@media screen and (min-width: 900px) {
    .section3 {
        height: 100vh;
    }
}

.h10 {
    position: relative;
    top: 0%;
}

.h11 {
    transform: translateY(28rem);
    padding: 5% 5%;
    margin: auto 5%;
    background: rgba(82, 82, 82, 0.25);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
    border: 0px solid rgba(82, 82, 82, 0.31);
    z-index: 0;
    height: 11rem;
    width: 16rem;
    position: absolute;
    box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
}


/* media query for lager phones */

@media screen and (min-width: 400px) {
    .h11 {
        width: 19rem;
    }
}

@media screen and (min-width: 650px) {
    .h11 {
        transform: translateY(26rem);
    }
}

.h12 {
    transform: translateY(28rem);
    padding: 5% 5%;
    margin: auto 5%;
    background-color: rgba(250, 235, 215, 0);
}

@media screen and (min-width: 650px) {
    .h12 {
        transform: translateY(26rem);
        padding: 5% 5%;
        margin: auto 5%;
        background-color: rgba(250, 235, 215, 0);
    }
}

h1 {
    font-size: 23px;
    font-family: "Ubuntu", sans-serif;
    font-family: "Montserrat", sans-serif;
}


/* media query for lager phones */

@media screen and (min-width: 400px) {
    h1 {
        font-size: 26px;
    }
}

.h1-margin {
    margin: 0.8rem auto;
}


/* 
        section 2 (picture) background, and header 1 main */

@media screen and (min-width: 900px) and (max-width: 1150px) {
    .section2 {
        height: 100vh;
        background-size: cover;
        background-position: 10rem 0rem;
        background-position: 12rem 0rem;
    }
    .h11 {
        transform: translateY(36rem);
        height: 12rem;
        width: 25rem;
    }
    .h12 {
        transform: translateY(36rem);
        background-color: rgba(250, 235, 215, 0);
    }
    .h1-text {
        font-size: 1.3rem;
    }
    h1 {
        font-size: 2.3rem;
    }
}

@media screen and (min-width: 1150px) {
    .section2 {
        height: 100vh;
        background-size: cover;
        background-size: contain;
        background-position: right;
        background-position: 25rem 0rem;
    }
    .h11 {
        transform: translateY(36rem);
        height: 11rem;
        width: 26rem;
    }
    .h12 {
        transform: translateY(36rem);
        background-color: rgba(250, 235, 215, 0);
        padding: 4% 5%;
        margin: 0% 4%;
    }
    .h1-text {
        font-size: 1.3rem;
    }
    h1 {
        font-size: 2.3rem;
    }
    ul.header-ul>li>a {
        color: rgba(58, 56, 56, 0.785);
        color: white;
        text-decoration: none;
        margin: 1.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .section2 {
        height: 100vh;
        background-size: cover;
        background-size: contain;
        background-position: right;
        background-position: 35rem 0rem;
    }
    .h11 {
        transform: translateY(31rem);
        margin-left: 5%;
        height: 12rem;
        width: 34rem;
        padding: 5% 5%;
    }
    .h12 {
        transform: translateY(34rem);
        background-color: rgba(250, 235, 215, 0);
        padding: 0% 4%;
        margin: 0% 5%;
    }
    .h1-text {
        font-size: 2rem;
    }
    h1 {
        font-size: 3rem;
    }
    ul.header-ul>li>a {
        color: rgba(58, 56, 56, 0.785);
        color: white;
        text-decoration: none;
        margin: 1.5rem;
    }
}

@media screen and (min-width: 1700px) {
    .section2 {
        height: 100vh;
        background-size: cover;
        background-size: contain;
        background-position: 35rem 0rem;
        background-position: right;
    }
    .h11 {
        transform: translateY(33rem);
        margin-left: 5%;
        height: 12rem;
        width: 34rem;
        padding: 4rem 4rem;
        padding-bottom: 5rem;
        margin-left: 15%;
    }
    .h12 {
        transform: translateY(35rem);
        background-color: rgba(250, 235, 215, 0);
        padding: 0% 5%;
        padding-left: 4%;
        margin: 0% 5%;
        margin-left: 15%;
    }
    .h1-text {
        font-size: 2rem;
    }
    h1 {
        font-size: 3rem;
    }
    ul.header-ul>li>a {
        color: rgba(58, 56, 56, 0.785);
        color: white;
        text-decoration: none;
        margin: 1.5rem;
    }
}

.form1 {
    display: flex;
    flex-direction: row;
    border: 0px solid grey;
    border-radius: 35px;
    padding: 2px;
    background-color: white;
    width: 16rem;
    align-items: center;
}


/* media query for lager phones */

@media screen and (min-width: 400px) {
    .form1 {
        width: 18rem;
    }
}

input {
    border: 0px solid white;
    border-radius: 20px;
    width: 90%;
    padding-left: 5%;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(73, 73, 73, 0.5);
    opacity: 1;
    padding-left: 2%;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(73, 73, 73, 0.5);
    padding-left: 2%;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(73, 73, 73, 0.5);
    padding-left: 2%;
}

input:focus {
    outline: none;
}

form>button {
    border: 1px solid;
    background: rgba(255, 97, 6, 0.909);
    height: 2rem;
    width: 7rem;
    border-radius: 30px;
    color: white;
}

form>button:hover {
    border: 1px solid rgba(77, 77, 77, 0.715);
    background: rgba(255, 124, 43, 0.944);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.m-button {
    border: 0px solid;
    background: rgba(255, 97, 6, 0.909);
    height: 3rem;
    width: 8rem;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

@media screen and (max-width: 1440px) {
    .m-button {
        border: 0px solid;
        background: rgba(255, 97, 6, 0.909);
        height: 2rem;
        width: 6rem;
        border-radius: 30px;
        color: white;
        cursor: pointer;
        font-size: 1rem;
    }
}

.m-button:hover {
    border: 1px solid rgb(255, 255, 255);
    background: rgb(239, 92, 0);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.m-button:hover {
    border: 1px solid rgb(255, 255, 255);
    background: rgb(239, 92, 0);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

@media screen and (min-width: 1440px) {
    .form1 {
        display: flex;
        flex-direction: row;
        border: 0px solid grey;
        border-radius: 35px;
        padding: 2px;
        background-color: white;
        width: 28rem;
        height: 3rem;
        align-items: center;
        margin: 1% 0%;
    }
    form>button {
        border: 1px solid;
        background: rgba(255, 97, 6, 0.909);
        height: 2.9rem;
        width: 10rem;
        border-radius: 30px;
        color: white;
    }
}

.hr0 {
    margin-top: 0%;
    border: 1px solid rgb(255, 97, 6);
}

.hr1 {
    border: 1px solid rgb(255, 97, 6);
    width: 80%;
}

.hr2 {
    border: 1px solid rgb(255, 97, 6);
    width: 60%;
}

.hr3 {
    border: 1px solid rgb(255, 97, 6);
    border: 1px solid rgba(255, 97, 6, 0.687);
    width: 40%;
}

.section4 {
    /* height: 700px; */
    background-image: url(/img/image.png);
    background-size: 820px;
    background-size: 320px;
    background-repeat: no-repeat;
    background-position: 550% 50%;
    background-position: left;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
    .section4 {
        /* height: 700px; */
        background-image: url(/img/image.pnng);
        background-size: 820px;
        background-size: 250px;
        background-repeat: no-repeat;
        background-position: left;
        background-position: -50% 50%;
    }
}

.section5 {
    position: relative;
    /* height: 700px; */
    background: rgba(107, 107, 107, 0);
    background: linear-gradient( 180deg, rgba(107, 107, 107, 0) 0%, rgba(160, 160, 160, 0.22) 80%);
    background: -webkit-linear-gradient( 180deg, rgba(107, 107, 107, 0) 0%, rgba(160, 160, 160, 0.22) 80%);
    background: -moz-linear-gradient( 180deg, rgba(107, 107, 107, 0) 0%, rgba(160, 160, 160, 0.22) 80%);
}


/* .section5 */

.a12 {
    background-color: rgba(193, 193, 193, 0.486);
    background-color: rgba(190, 190, 190, 0.312);
    box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    border-radius: 20px;
    padding: 3% 5%;
    padding-top: 1%;
    margin: 10% 5%;
    margin-left: 40%;
    border: 0px solid red;
    text-align: center;
    box-sizing: border-box;
    line-height: 1.5em;
}

.h-about {
    font-size: 2.2rem;
    color: rgb(255, 97, 6);
    margin-bottom: 0%;
}

.p-about {
    font-size: 1.2rem;
}

.section6 {
    text-align: center;
}


/* 
------------------------------------ */

@media screen and (min-width: 320px) and (max-width: 700px) {
    .a12 {
        background-color: rgba(193, 193, 193, 0.486);
        background-color: rgba(190, 190, 190, 0.312);
        box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
        -webkit-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
        -moz-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
        border-radius: 20px;
        padding: 3% 5%;
        padding-top: 1%;
        margin: 10% 10%;
        border: 0px solid red;
        text-align: center;
        box-sizing: border-box;
    }
    .h-about {
        font-size: 1.5rem;
        color: rgba(255, 97, 6, 0.84);
        margin-bottom: 0%;
    }
    .p-about {
        font-size: 0.9rem;
    }
    .section6 {
        text-align: center;
    }
}


/* 
-------------------------------
 */

@media screen and (min-width: 700px) and (max-width: 1280px) {
    .a12 {
        background-color: rgba(193, 193, 193, 0.486);
        background-color: rgba(190, 190, 190, 0.312);
        box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
        -webkit-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
        -moz-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
        border-radius: 20px;
        padding: 3% 5%;
        padding-top: 1%;
        margin: 10% 5%;
        margin-left: 40%;
        border: 0px solid red;
        text-align: center;
        box-sizing: border-box;
    }
    .h-about {
        font-size: 1.9rem;
        color: rgb(255, 97, 6);
        color: rgba(255, 97, 6, 0.84);
        margin-bottom: 0%;
    }
    .p-about {
        font-size: 0.9rem;
    }
    .section6 {
        text-align: center;
    }
}


/* 
-------------------------------- */

@media screen and (min-width: 1280px) {
    .section4 {
        /* height: 700px; */
        background-repeat: no-repeat;
        background-position: left;
        background-position: 10% 50%;
    }
    .a12 {
        background-color: rgba(193, 193, 193, 0.486);
        background-color: rgba(190, 190, 190, 0.312);
        box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
        -webkit-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
        -moz-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
        border-radius: 20px;
        padding: 3% 5%;
        padding-top: 1%;
        margin: 10% 5%;
        margin-left: 40%;
        margin-right: 10%;
        border: 0px solid red;
        text-align: center;
        box-sizing: border-box;
    }
    .h-about {
        font-size: 2rem;
        color: rgb(255, 97, 6);
        color: rgba(255, 97, 6, 0.84);
        margin-bottom: 0%;
    }
    .p-about {
        font-size: 1rem;
    }
    .section6 {
        text-align: center;
    }
}

.contact-section {
    background-image: url(/img/contact-img-2.png);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: -20% 50%;
    background-position: bottom left;
}

.form-contact1 {
    background-color: rgba(190, 190, 190, 0.312);
    background-color: rgba(133, 131, 131, 0.333);
    box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    border-radius: 20px;
    margin: 10% 10%;
    padding: 5%;
    text-align: center;
}

.form-contact-header1 {
    color: rgba(255, 97, 6, 0.909);
    color: white;
    font-size: 1.5rem;
    margin-top: 2%;
}

.input-contact1 {
    padding: 3% 2%;
    margin: 3% 0%;
}


/* 
@media screen and (min-width:320px) and (max-width:700px) {
    .form-contact {
        padding: 5%;
        text-align: center;
        transform: translateX(1%) translateY(10%);
    }
    .form-contact-header {
        color: rgba(255, 97, 6, 0.909);
        color: white;
        font-size: 1.5rem;
    }
    .input-contact {
        padding: 3% 2%;
        margin: 3% 0%;
    }
} */

@media screen and (min-width: 700px) and (max-width: 1280px) {
    .contact-section {
        background-image: url(/img/contact-img-2.png);
        background-size: 420px;
        background-repeat: no-repeat;
        background-position: -20% 50%;
        background-position: left;
    }
    .form-contact1 {
        border-radius: 20px;
        margin: 10% 20%;
        margin-left: 40%;
        margin-right: 10%;
        padding: 5%;
        text-align: center;
        /* transform: translateX(2%) translateY(10%); */
    }
    .form-contact-header1 {
        color: rgba(255, 97, 6, 0.909);
        color: white;
        font-size: 1.5rem;
    }
    .input-contact1 {
        padding: 3% 2%;
        margin: 3% 0%;
    }
}

@media screen and (min-width: 1280px) {
    .contact-section {
        background-image: url(/img/contact-img-2.png);
        background-size: 500px;
        background-repeat: no-repeat;
        background-position: -20% 50%;
        background-position: left;
    }
    .form-contact1 {
        background-color: rgba(190, 190, 190, 0.312);
        background-color: rgba(133, 131, 131, 0.333);
        box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
        -webkit-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
        -moz-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
        border-radius: 20px;
        margin: 5% 10%;
        margin-left: 40%;
        padding: 5%;
        text-align: center;
    }
    .form-contact-header1 {
        color: rgba(255, 97, 6, 0.909);
        color: white;
        font-size: 1.5rem;
    }
    .input-contact1 {
        padding: 3% 2%;
        margin: 3% 0%;
    }
}

@media screen and (min-width: 1600px) {
    .contact-section {
        background-image: url(/img/contact-img-2.png);
        background-size: 500px;
        background-repeat: no-repeat;
        background-position: -20% 50%;
        background-position: left;
    }
    .form-contact1 {
        background-color: rgba(190, 190, 190, 0.312);
        background-color: rgba(133, 131, 131, 0.333);
        box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
        -webkit-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
        -moz-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
        border-radius: 20px;
        margin: 5% 15%;
        margin-left: 40%;
        padding: 4%;
        text-align: center;
    }
    .form-contact-header1 {
        color: rgba(255, 97, 6, 0.909);
        color: white;
        font-size: 1.5rem;
    }
    .input-contact1 {
        padding: 3% 2%;
        margin: 3% 0%;
    }
}


/* 
.span-reg {
    padding: 0% 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.label-reg {
    color: rgba(73, 73, 73, 0.5);
} */

option {
    background-color: #d2d2d2cd;
}

select {
    background-color: rgba(255, 255, 255, 0.569);
    padding: 1%;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-align: left;
}

footer {
    background-color: rgba(68, 68, 68, 0.333);
    background-color: #87858537;
}

@media screen and (max-width: 750px) {
    footer {
        background-color: #07070700;
    }
}

.footer-div {
    max-width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b0a8a869;
    padding: 2% 3%;
    gap: 5%;
    margin: 0% auto;
    margin-bottom: 15%;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #c1c1c17c;
    box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -2px 2px 7px -1px rgba(0, 0, 0, 0.59);
    border-radius: 50px;
}

.footer-ink-wrap {
    width: 45px;
    box-sizing: border-box;
    padding: 1%;
}

.footer-links {
    max-width: 75%;
    padding: 5% 0%;
    margin: auto;
}

.footer-links:hover {
    max-width: 85%;
    margin: 0%;
    padding: 0%;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

h5 {
    margin-top: 10% !important;
    padding-top: 0%;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: normal;
}

@media screen and (min-width: 700px) {
    .footer-div {
        max-width: 65%;
        padding: 1% 3%;
        gap: 5%;
        margin: 0% auto;
        margin-bottom: 10%;
    }
    .footer-ink-wrap {
        width: 55px;
        box-sizing: border-box;
        padding: 1%;
    }
    .footer-links {
        max-width: 75%;
        padding: 5% 0%;
        margin: auto;
    }
    .footer-links:hover {
        max-width: 85%;
        margin: 0%;
        padding: 0%;
        transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
    }
    h5 {
        margin-top: 20% !important;
        padding-top: 8%;
        text-align: center;
        color: #ff6b16ef;
        color: white;
        font-size: 1rem;
        font-weight: 500;
    }
}

@media screen and (min-width: 1024px) {
    .footer-div {
        max-width: 50%;
        padding: 1% 0%;
        gap: 5%;
        margin: 0% auto;
        margin-bottom: 7%;
    }
    .footer-ink-wrap {
        width: 65px;
        box-sizing: border-box;
        padding: 1%;
    }
    .footer-links {
        max-width: 75%;
        padding: 5% 0%;
        margin: auto;
    }
    .footer-links:hover {
        max-width: 85%;
        margin: 0%;
        padding: 0%;
        transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
    }
    h5 {
        margin-top: 20% !important;
        padding-top: 5%;
        text-align: center;
        color: #ff6b16ef;
        color: white;
        font-size: 1.1rem;
        font-weight: 500;
    }
}

@media screen and (min-width: 1600px) {
    .footer-div {
        max-width: 40%;
        padding: 1% 0%;
        gap: 5%;
        margin: 0% auto;
        margin-bottom: 7%;
    }
    .footer-ink-wrap {
        width: 80px;
        box-sizing: border-box;
        padding: 1%;
    }
    .footer-links {
        max-width: 75%;
        padding: 5% 0%;
        margin: auto;
    }
    .footer-links:hover {
        max-width: 85%;
        margin: 0%;
        padding: 0%;
        transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
    }
    h5 {
        margin-top: 12% !important;
        padding-top: 5%;
        text-align: center;
        color: #ff6b16ef;
        color: white;
        font-size: 1.1rem;
        font-weight: 500;
    }
}